<a href="https://colab.research.google.com/github/rakhira/texas-foster-care-adoption-classifier/blob/master/merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [176]:
# imports
import pandas as pd

In [177]:
# create all dataframes

csv_names = ['CPI_3.8_Abuse_Neglect_Investigations_-_Victims_with_Demographics_by_Region_FY2010-FY2019', 
            'CPS_2.1_Removals_-_by_Region_with_Child_Demographics_FY2010-2019', 
            'CPS_3.1_Placement_Types_of_Children_in_Substitute_Care_During_the_Fiscal_Year_by_County_with_Demographics_FY2010-2019', 
            'CPS_3.2_in_Substitute_Care_on_August_31_by_Placement_Type_with_Demographics_FY2010-2019', 
            'CPS_4.1_Adoption_-_Children_Waiting_For_Adoption_on_31_August_by_Region_with_Demographics_FY2010-2019', 
            'CPS_4.3_Adoption_-_Children_In_Adoption_Placements_by_Region_with_Demographics_FY2010-2019', 
            'CPS_4.4_Adoption_-_Disabling_Conditions_of_Children_in_Adoption_Placements_by_Region_with_Demographics_FY2010-2019', 
            'CPS_4.5_Adoptions_Consummated_by_Region_with_Demographics_FY2010-2019']

dfs = {}
for i, csv in enumerate(csv_names):
  dfs[i] = pd.read_csv(f'{csv}.csv')

In [178]:
# COME UP WITH A BETTER WAY TO DO THIS

df0 = dfs[0] #done
df1 = dfs[1] #done
df2 = dfs[2] #done
df3 = dfs[3]
df4 = dfs[4]
df5 = dfs[5]
df6 = dfs[6]
df7 = dfs[7]

In [179]:
final_df = df2.copy()

In [180]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186682 entries, 0 to 186681
Data columns (total 9 columns):
 #   Column                                                    Non-Null Count   Dtype
---  ------                                                    --------------   -----
 0   Fiscal Year                                               186682 non-null  int64
 1   County                                                    186682 non-null  object
 2   Region                                                    186682 non-null  object
 3   Gender                                                    186682 non-null  object
 4   Race/Ethnicity                                            186682 non-null  object
 5   Age                                                       186682 non-null  int64
 6   Type of Substitute Care                                   186682 non-null  object
 7   Placed with Relative                                      186682 non-null  object
 8   Count of Placement Types for Children in Substitute Care  186682 non-null  int64
dtypes: int64(3), object(6)
memory usage: 12.8+ MB

In [181]:
final_df.drop(['County'], axis=1, inplace=True)

In [182]:
# bucketize the 'Age' column into 'Age Group'

bins = [0, 5, 12, 17]
labels = ['Birth to Five Years Old', 'Six to Twelve Years Old', 'Thirteen to Seventeen Years Old']
final_df['Age Group'] = pd.cut(final_df['Age'], bins, labels=labels)
final_df.drop(['Age'], axis=1, inplace=True)

In [183]:
final_df1 = pd.pivot_table(final_df, values='Placed with Relative', index = ['Fiscal Year', 'Region', 'Gender', 'Race/Ethnicity', 'Age Group'], columns=['Type of Substitute Care'], aggfunc='count')

In [184]:
final_df1

Type of Substitute Care                                                            Foster Care  Other Substitute Care
Fiscal Year Region       Gender  Race/Ethnicity   Age Group
2010        1-Lubbock    Female  African American Birth to Five Years Old                 26.0                   15.0
                                                  Six to Twelve Years Old                 24.0                   12.0
                                                  Thirteen to Seventeen Years Old         22.0                    2.0
                                 Anglo            Birth to Five Years Old                 42.0                   33.0
                                                  Six to Twelve Years Old                 48.0                   29.0
...                                                                                        ...                    ...
2019        9-Midland    Male    Other            Birth to Five Years Old                  8.0                    7.0
                                                  Six to Twelve Years Old                 14.0                    1.0
                                                  Thirteen to Seventeen Years Old          1.0                    1.0
                         Unknown Hispanic         Birth to Five Years Old                  NaN                    1.0
            Out of State Male    African American Birth to Five Years Old                  1.0                    NaN

[3335 rows x 2 columns]

In [185]:
final_df2 = pd.pivot_table(final_df, values='Type of Substitute Care', index = ['Fiscal Year', 'Region', 'Gender', 'Race/Ethnicity', 'Age Group'], columns=['Placed with Relative'], aggfunc='count')

In [186]:
final_df2.head()

Placed with Relative                                                           Non-Relative  Relative
Fiscal Year Region    Gender Race/Ethnicity   Age Group
2010        1-Lubbock Female African American Birth to Five Years Old                  22.0      19.0
                                              Six to Twelve Years Old                  27.0       9.0
                                              Thirteen to Seventeen Years Old          21.0       3.0
                             Anglo            Birth to Five Years Old                  38.0      37.0
                                              Six to Twelve Years Old                  37.0      40.0

In [187]:
final_df3 = final_df1.merge(final_df2, on=['Fiscal Year','Region','Gender','Race/Ethnicity','Age Group'])

In [188]:
final_df3.head()

                                                                               Foster Care  ...  Relative
Fiscal Year Region    Gender Race/Ethnicity   Age Group                                     ...
2010        1-Lubbock Female African American Birth to Five Years Old                 26.0  ...      19.0
                                              Six to Twelve Years Old                 24.0  ...       9.0
                                              Thirteen to Seventeen Years Old         22.0  ...       3.0
                             Anglo            Birth to Five Years Old                 42.0  ...      37.0
                                              Six to Twelve Years Old                 48.0  ...      40.0

[5 rows x 4 columns]

In [189]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45219 entries, 0 to 45218
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fiscal Year        45219 non-null  int64
 1   Region Code        45219 non-null  int64
 2   Region             45219 non-null  object
 3   Confirmed Victims  45219 non-null  object
 4   Gender             45219 non-null  object
 5   Race/Ethnicity     45219 non-null  object
 6   Age                45219 non-null  object
 7   Victims            45219 non-null  int64
dtypes: int64(3), object(5)
memory usage: 2.8+ MB

In [190]:
df0.head()

   Fiscal Year  Region Code     Region  ...    Race/Ethnicity Age Victims
0         2019            1  1-Lubbock  ...  African American   0      43
1         2019            1  1-Lubbock  ...  African American   1      35
2         2019            1  1-Lubbock  ...  African American  10      10
3         2019            1  1-Lubbock  ...  African American  11      13
4         2019            1  1-Lubbock  ...  African American  12      12

[5 rows x 8 columns]

In [191]:
df0 = df0[df0['Age'] != 'Over 18']
df0 = df0[df0['Age'] != 'Unknown']
df0['Age'] = df0['Age'].astype(float)

In [192]:
df0.drop(['Region Code'], axis=1, inplace=True)

In [193]:
df0.drop(['Confirmed Victims'], axis=1, inplace=True)

In [194]:
# bucketize the 'Age' column into 'Age Group'

bins = [0, 5, 12, 17]
labels = ['Birth to Five Years Old', 'Six to Twelve Years Old', 'Thirteen to Seventeen Years Old']
df0['Age Group'] = pd.cut(df0['Age'], bins, labels=labels)
df0.drop(['Age'], axis=1, inplace=True)

In [195]:
df0_2 = df0.groupby(['Fiscal Year','Region','Gender','Race/Ethnicity','Age Group']).count()['Victims']

In [196]:
df0_2.reset_index

<bound method Series.reset_index of Fiscal Year  Region        Gender   Race/Ethnicity    Age Group
2010         1-Lubbock     Female   African American  Birth to Five Years Old            10.0
                                                      Six to Twelve Years Old            14.0
                                                      Thirteen to Seventeen Years Old    10.0
                                    Anglo             Birth to Five Years Old            10.0
                                                      Six to Twelve Years Old            14.0
                                                                                         ...
2019         Out of State  Unknown  Native American   Six to Twelve Years Old             NaN
                                                      Thirteen to Seventeen Years Old     NaN
                                    Other             Birth to Five Years Old             NaN
                                                      Six to Twelve Years Old             NaN
                                                      Thirteen to Seventeen Years Old     NaN
Name: Victims, Length: 6480, dtype: float64>

In [197]:
final_df3.reset_index

<bound method DataFrame.reset_index of                                                                                    Foster Care  ...  Relative
Fiscal Year Region       Gender  Race/Ethnicity   Age Group                                     ...
2010        1-Lubbock    Female  African American Birth to Five Years Old                 26.0  ...      19.0
                                                  Six to Twelve Years Old                 24.0  ...       9.0
                                                  Thirteen to Seventeen Years Old         22.0  ...       3.0
                                 Anglo            Birth to Five Years Old                 42.0  ...      37.0
                                                  Six to Twelve Years Old                 48.0  ...      40.0
...                                                                                        ...  ...       ...
2019        9-Midland    Male    Other            Birth to Five Years Old                  8.0  ...      10.0
                                                  Six to Twelve Years Old                 14.0  ...       5.0
                                                  Thirteen to Seventeen Years Old          1.0  ...       2.0
                         Unknown Hispanic         Birth to Five Years Old                  NaN  ...       1.0
            Out of State Male    African American Birth to Five Years Old                  1.0  ...       NaN

[3335 rows x 4 columns]>

In [198]:
final_df4 = pd.merge(df0_2, final_df3, on = ['Fiscal Year','Region','Gender','Race/Ethnicity','Age Group'])

In [199]:
final_df4.head()

                                                                               Victims  ...  Relative
Fiscal Year Region    Gender Race/Ethnicity   Age Group                                 ...
2010        1-Lubbock Female African American Birth to Five Years Old             10.0  ...      19.0
                                              Six to Twelve Years Old             14.0  ...       9.0
                                              Thirteen to Seventeen Years Old     10.0  ...       3.0
                             Anglo            Birth to Five Years Old             10.0  ...      37.0
                                              Six to Twelve Years Old             14.0  ...      40.0

[5 rows x 5 columns]

In [200]:
df1.head()

   Fiscal Year     Region        Removal Stage  ...    Race/Ethnicity Age  Removals
0         2019  1-Lubbock  Family Preservation  ...  African American   0         1
1         2019  1-Lubbock  Family Preservation  ...  African American   1         1
2         2019  1-Lubbock  Family Preservation  ...  African American   2         1
3         2019  1-Lubbock  Family Preservation  ...  African American   3         0
4         2019  1-Lubbock  Family Preservation  ...  African American   4         0

[5 rows x 7 columns]

In [201]:
# bucketize the 'Age' column into 'Age Group'

bins = [0, 5, 12, 17]
labels = ['Birth to Five Years Old', 'Six to Twelve Years Old', 'Thirteen to Seventeen Years Old']
df1['Age Group'] = pd.cut(df1['Age'], bins, labels=labels)
df1.drop(['Age'], axis=1, inplace=True)

In [202]:
df1.head()

   Fiscal Year     Region  ... Removals                Age Group
0         2019  1-Lubbock  ...        1                      NaN
1         2019  1-Lubbock  ...        1  Birth to Five Years Old
2         2019  1-Lubbock  ...        1  Birth to Five Years Old
3         2019  1-Lubbock  ...        0  Birth to Five Years Old
4         2019  1-Lubbock  ...        0  Birth to Five Years Old

[5 rows x 7 columns]

In [203]:
df1.drop(['Removal Stage'], axis=1, inplace=True)

In [204]:
df1_2 = df1.groupby(['Fiscal Year','Region','Gender','Race/Ethnicity','Age Group']).count()['Removals']

In [205]:
final_df5 = pd.merge(df1_2, final_df4, on = ['Fiscal Year','Region','Gender','Race/Ethnicity','Age Group'])

In [206]:
final_df5.head()

                                                                               Removals  ...  Relative
Fiscal Year Region    Gender Race/Ethnicity   Age Group                                  ...
2010        1-Lubbock Female African American Birth to Five Years Old              10.0  ...      19.0
                                              Six to Twelve Years Old              12.0  ...       9.0
                                              Thirteen to Seventeen Years Old       6.0  ...       3.0
                             Anglo            Birth to Five Years Old              10.0  ...      37.0
                                              Six to Twelve Years Old              14.0  ...      40.0

[5 rows x 6 columns]